/*
  --primary-color: #3F3F37   ;
  --secondary-color: #D6D6B1 ;
  --accent1-color: #494331;
  --accent2-color: #DE541E;
*/

/* Fonts are Architects Daughter, Bree Serif, Poppins, Rock Salt, Waiting for the Sunrise*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bree+Serif&family=Poppins&family=Rock+Salt&family=Waiting+for+the+Sunrise&display=swap');
/* 
--heading-font: "Bree Serif";
  --paragraph-font: Poppins, Helvetica, sans-serif;
*/
/* *********************************************************MAIN PAGE (INDEX) ******************************************************* */

/*************************CENTERING & MARGINS**************************************/
#content{
    max-width: 1600px;
    margin: 0 auto;
}
/*centering these*/
nav, a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}

/************************COLORS & DECORATIONS & FONTS*******************************/
body{
    background-color: #3F3F37;
    font-family: "Poppins", Helvetica, Sans-Serif;  /*general paragraph text*/
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/***********HEADER SECTION***********/
header{
    background-color: #D6D6B1;
    display: grid;
    grid-template-columns: 150px auto;
}
/***TOP LEFT LOGO****/
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
}
/****Navigation bar****/
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    color: black;
    text-decoration: none;
    font-family: "Bree Serif", Helvetica, sans-serif;
    padding: 35px;
}

/**********HERO BOX***********************/
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-box img{
    width: 100%;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
/* Hero Title & Subtitle */
.home-title{
    font-size: 2em;
    color: #D6D6B1;
    font-family: "Architects Daughter", Helvetica, sans-serif;
    margin-top: 10px;
}
h4{
    color: #D6D6B1;
    font-family: "Architects Daughter", Helvetica, sans-serif;
}

/**********MAIN SECTION***************/
.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
h2{
    margin: 0;
}
main section img{
    box-sizing: border-box;
}
/* Icons with CARDS */
.icon{
    width: 80px;
    padding-top: 10px;
}
/* CARDS */
.card-img{
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364
}
.card-img, .mountains{
    width: 100%
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
/* Empty Background Div */
#background{
    background-color: #D6D6B1;
    height: 725px;  /*setting huge margin for messaging*/
    grid-column: 1/11;
    grid-row: 4/9;
}
/* Mountains Image */
.mountains{
    /******10/11 - ADDDING THIS INDEPENDENT OF ASSIGNMENT TO MATCH VISUAL EXPECATATION GIVEN******/
    margin: 150px 0;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364
}
/* More than just a thrill message */
.msg h2{
    color: white;
    font-family: "Poppins", Helvetica, Sans-Serif;
}
.msg p{
    color: white;
    font-family: "Poppins", Helvetica, Sans-Serif;
    font-size: 0.8em;
    padding-bottom: 15px;
}
.msg{
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: grey;
    box-shadow: 5px 5px 10px #6f7364;
}
/* Book now and Join buttons */
.book, .join{  
    font-size: 18px;
    color: #D6D6B1;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #DE541E
}


/***********FOOTER CONTENT*************/
footer{
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #D6D6B1;
    text-decoration: none;
}
footer p{
    color: #D6D6B1;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Poppins", Helvetica, Sans-Serif;
}
footer .social img{
    padding-top: 15px;
}


/*****************************HOVER BEHAVIOR******************************************/
nav a:hover, .book:hover, .join:hover, footer p a:hover{
    background-color: #D6D6B1;
    color: #DE541E;
    font-weight: bolder;
    text-decoration: underline;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}



/******************************************************* RIVERS PAGE ***********************************************/

/*centering these*/
#river-msg h1 {
    text-align: center;
}

/* RIVER TOP BOX */
#river-top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#river-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#river-box img{
    width: 100%;
    margin-top: -400px;
    margin-bottom: -10px;
}
#river-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#river-msg h1{
    color: black;
}

/* RIVERS SUB HEADING */
.rivers-sub-heading{
    background-color: #D6D6B1;
    text-align: center;
    height: 300px; 
    /* to align veritically use line-height and make same heigt as height setting */
    line-height: 300px;
    margin-bottom: -100px;
}
.rivers-sub-heading h4{
    color: black;
    font-size: 50px;
    margin: 0;    
    
}

/* RIVERS GRID */
.rivers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 470px 100px 470px 100px 470px 100px;
}
/* background */
.rivers-background{
    grid-column: 1/3;
    grid-row: 1/8;
    z-index: -2;

    background-color: #D6D6B1;
    height: auto;  /*setting huge margin for messaging*/
    width: auto;

}
/* cols */
.river1-img, .river2-img, .river3-img{
    /* display: block; */
    grid-column: 1/2;
    display: flex;
    margin-right: -75px;
    justify-content: center;
    align-items: center;
    transition: transform .05s;
}
.river1-img img, .river2-img img, .river3-img img{
    height: 470px;
    width: 700px;
    box-shadow: 5px 5px 10px #6f7364;
}
.river1-about, .river2-about, .river3-about{
    grid-column: 2/3;
    z-index: 1;
    padding: 40px;
    width: 640px;
    height: auto;
    overflow: hidden;
    margin-left: 20px;
}
.river1-button, .river2-button, .river3-button{
    grid-column: 2/3;
    z-index: 2;
    position: relative;
}
.river1-box, .river2-box, .river3-box{
    grid-column: 2/3;
    z-index: -1;   
    height: auto;
    width: 700px;
    background-color: grey;
    box-shadow: 5px 5px 10px #6f7364;
    margin-left: 20px;
    transition: transform .05s;
}
/* rows */
.river1-img, .river1-about, .river1-box, .river1-button{
    grid-row: 2/3;
}
.river2-img, .river2-about, .river2-box, .river2-button{
    grid-row: 4/5;
    /* overflow: hidden; */
}
.river3-img, .river3-about, .river3-box, .river3-button{
    grid-row: 6/7;
}

/* Learn More Buttons*/
.more{  
    font-size: 18px;
    color: #D6D6B1;
    /* color: white; */
    /* color: black; */
    /* color: #3F3F37; */
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
    /* background-color: #DE541E;*/
     background-color: #3F3F37;
     position: absolute;
     left: 60px;
     bottom: 40px;
}
/* Hover Behaviors */
.river1-img:hover, .river2-img:hover, .river3-img:hover
{
    /* opacity: .6; */
    transform: scale(1.01);
}
.more:hover{
    background-color: #D6D6B1;
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

/* @Media Query - Don't add css after this section */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

